@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  /* Primary orange */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-gray);
  width: 100%;
}

article {
  width: 280px;
  margin: 100px auto;
  display: grid;
  grid-template-areas: 
    'sedan'
    'suv'
    'luxury';
  }

.card {
    min-height: 395px;
}

.sedan {
  grid-area: sedan;
  background-color: var(--bright-orange);
  border-radius: 7px 7px 0 0;
}

.suv {
  grid-area: suv;
  background-color: var(--dark-cyan);
}

.luxury {
  grid-area: luxury;
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 7px 7px;
}

img, h2, p, a {
  margin-left: 40px;
  margin-bottom: 20px;
}

article img {
  margin-top: 30px;
}

article h2 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  color: var(--very-light-gray);
}


article p {
  width: 180px;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white);
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 1.6;
}

article a {
  padding: 13px 20px;
  border-radius: 35px;
  text-decoration: none;
  border: none;
  background-color: var(--very-light-gray);
  letter-spacing: .5px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
  color:var(--bright-orange);
  cursor: pointer;
  transition: background-color 0.30s ease, border 0.30s ease;
}

.sedan a {
  color: var(--bright-orange);
}
.suv a {
  color: var(--dark-cyan);
}
.luxury a {
  color: var(--very-dark-cyan);
}

a:hover {
  background-color: transparent;
  outline: 3px solid var(--transparent-white);
  color: var(--transparent-white);
}

@media (min-width: 70rem){
  body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article {
    grid-template-columns: 290px 290px 290px;
    place-content: center;
    margin-top: 80px;
    grid-template-areas: 
    'sedan suv luxury';
  }

  .card {
    min-height: 470px;
  }

  article img {
    margin: 35px 40px 30px;
  }
  
  article h2 {
    font-size: 37px;
    margin-bottom: 30px;
  }
  
  
  article p {
    width: 210px;
    margin-inline: 40px;
    margin-bottom: 70px;
    line-height: 1.8;
  }
  
  article a {
    padding: 15px 30px;
  }

  .sedan {
    border-radius: 7px 0 0 7px;
  }
  .suv {
    border-radius: 0;
  }
  .luxury {
    border-radius: 0 7px 7px 0;
  }
  
}